.opcoes{
    display: flex;
    align-items: center;
  }
  
  .opcao{
    font-size: 16px;
    display: flex;
    min-width: 120px;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
  }
  
  .opcao:hover{
    color: #326589;
  }
  